$primary: #f9f9f9;
$primary-light: #ffffff;
$primary-dark: #c6c6c6;
$primary-text: #000000;
$secondary: #b71c1c;
$secondary-half-dark: #9b0e0e;
$secondary-dark: #7f0000;
$secondary-light: #f05545;
$secondary-text: #ffffff;
