$primary: #f9f9f9;
$primary-disabled: #f9f9f961;
$primary-light: #ffffff;
$primary-dark: #c6c6c6;
$primary-text: #000000;
$primary-text-disabled: #00000061;
$secondary: #b71c1c;
$secondary-disabled: #4f4f4f61;
$secondary-half-dark: #9b0e0e;
$secondary-dark: #7f0000;
$secondary-light: #f05545;
$secondary-text: #ffffff;
$secondary-text-disabled: #ffffff61;
