@import 'partials/_colors.scss';

html,body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  background-color: $primary;
  color: $primary-text;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $secondary;
}

.backdrop {
  background-color: $secondary;
  color: $secondary-text;
  font-size: 1rem;

  .header-bar {
    display: flex;
    align-items: center;

    .menu-icon {
      background-image: url("/ressources/menu.png");
      background-position: center;
      background-repeat: no-repeat;
      width: 36px;
      height: 36px;
      padding: 4px;
      margin: 1rem;
      display: inline-block;
      border: none;
      border-radius: 32px;
      transition: background-color 100ms ease;

      &:hover {
        background-color: $secondary-dark;
      }

      &.open {
        background-image: url("/ressources/menu_close.png");
      }
    }

    .header {
      margin: 0;
      padding: 16px;
      text-align: center;
      z-index: 2;
      flex-grow: 1;

      @media (min-width: 450px) {
        margin-right: 56px;
      }
    }
  }

  .menu-actions {
    box-sizing: border-box;
    transition: max-height 200ms ease, color 200ms ease, background-color 100ms ease;;
    position: relative;
    max-height: 16rem;
    margin: 0 1rem;

    &.hidden {
      max-height: 0;
      color: rgba(0,0,0,0);

      .menu-option {
        background-color: rgba(0,0,0,0) !important;
      }
    }

    .menu-option {
      box-sizing: border-box;
      display: inline-block;
      font-size: 1.5rem;
      width: 100%;
      text-align: center;
      padding: 1rem;
      border: none;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: $secondary-half-dark;
      }

      &.active {
        background-color: $secondary-dark;
      }
    }
  }
}

.container {
  @keyframes start {
    from {top: 100vh;}
    to  {top: 0;}
  }

  position: relative;
  border: none;
  border-radius: 16px 16px 0 0;

  box-sizing: border-box;
  background-color: $primary;
  margin-top: 8px;
  height: 100%;
  animation-name: start;
  animation-duration: 1s;
  animation-timing-function: ease;

  .banner {
    z-index: 1;
    background-color: $primary;
    border: none;
    border-radius: 16px 16px 0 0;
    display: flex;
    margin: 0;
    margin-bottom: 1rem;
    padding-top: 1rem;
    max-height: 10rem;
    flex-direction: row;
    flex-wrap: wrap;
    transform-origin: top;
    transition: max-height 200ms ease, transform 200ms ease, visibility 200ms step-start;

    &.hidden {
      transform: scaleY(0);
      visibility: hidden;
      max-height: 0;
      transition: max-height 200ms ease, transform 200ms ease, visibility 200ms step-end;
    }

    .banner-text {
      align-self: left;
      margin: 1rem;
      flex-grow: 1;
    }

    .btn-container{
      flex-grow: 1;
      text-align: right;
      .banner-button {
        display: inline-block;
        background: none;
        color: $secondary-dark;
        border: none;
        box-shadow: none;
        font-size: 1rem;
        align-self: right;
        text-transform: uppercase;
        padding: 16px;
        margin: 0;
        margin-right: 1rem;
        font-family: 'Roboto Condensed', sans-serif;
        cursor: pointer;
        font-weight: bold;
        letter-spacing: 0.125rem;
      }
    }

    hr {
      width: 100%;
    }
  }

  .options {
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;

    .multi-select {
      font-size: 0;
      border: none;
      .multi-item {
        font-weight: bold;
        font-family: 'Roboto Condensed', sans-serif;
        display: inline-block;
        background-color: $primary-light;
        color: $primary-text;
        margin: 0;
        font-size: 1rem;
        padding: 8px;
        border-style: solid;
        border-left-style: none;
        border-width: 1px;
        transition: background-color 200ms ease, color 200ms ease;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        cursor: pointer;

        &:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          border-left-style: solid;
        }

        &:last-child {
          margin-right: 0;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        &:hover {
          background-color: $primary;
        }

        &.selected {
          background-color: $primary-dark;
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }

        &.disabled {
          box-shadow: none;
          color: $primary-text-disabled;
          background-color: $primary-disabled;
          cursor: default;
        }
      }
    }
  }

  .file-options {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    position: relative;
    border-style: dashed;
    border-radius: 4px;
    margin-left: 2rem;
    margin-right: 2rem;
    background-image: url('/ressources/upload.png');
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 0.5rem;

    &.disabled {
      background-image: none;
    }

    .upload-text {
      transition: color 200ms ease;
      &.disabled {
        color: $primary-text-disabled;
      }
    }

    .file-input {
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      transition: background-color 200ms ease;

      &.disabled {
        background-color: $primary-disabled;
        cursor: default;
      }
    }
  }

  .submit-btn {
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin: 0;
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    display: inline-block;
    background-color: $secondary;
    color: $secondary-text;
    text-transform: uppercase;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;

    background-position: center;
    transition: background 800ms ease, box-shadow 100ms ease, color 200ms ease;

    &:hover {
      background: $secondary-dark radial-gradient(circle, transparent 1%, $secondary-dark 1%) center/15000%;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    &:active {
      background-color: $secondary-light;
      background-size: 100%;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12);
      transition: background 0s, box-shadow 0s;
    }

    &:disabled {
      color: $secondary-text-disabled;
      background: $secondary-disabled;
      box-shadow: none;
      transition: background 200ms ease, box-shadow 200ms ease, color 200ms ease;
    }
  }

  .copyright-container {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    margin: 4px;
    bottom: 0;
    text-align: center;
  }
}
